<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @incident_category.category %>
</p>

<%= link_to 'Edit', edit_incident_category_path(@incident_category) %> |
<%= link_to 'Back', incident_categories_path %>
