<tr>
  <td class="col-md-1"><%= f.input :stop_order, label: false%></td>
  <td class="col-md-6"><%= f.association :organization, label_method: :name_and_address, value_method: :id, label: false%></td>
  <td style="text-align: center; vertical-align: middle"><%= f.check_box :_destroy %></td>
</tr>