<body ng-app="app" ng-controller="IncidentController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" style="padding-top:0px">
      <ul class="nav nav-sidebar">
        <li>
          <div style="font-weight: bold; font-size: 12pt; padding-top:5px; padding-bottom:10px; padding-left:20px; background-color: lightgrey">
            Organizations
            <button type="button" data-ng-click="ctrl.showOrgModal()" class="btn btn-sm btn-primary pull-right" style="margin-right: 5px;line-height: 1.2">Add</button>
          </div>
        </li>
        <li ng-repeat="org in ctrl.organizations | filter:ctrl.searchInput" ng-class="{'active':$index == ctrl.selectedOrg}"
            ng-click="ctrl.setClickedOrg($index, org.full_name, org.id)">
          <a href="#">{{org.name}}</a>

        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">Student Incident History
        <div class="pull-right">
        <a class="btn btn-primary" target="_self" ng-if="ctrl.selectedOrg != -1"
           href="/incidents/export.xls?student_id={{ctrl.orgs[ctrl.selectedOrg].id}}">Export</a>
        </div>
      </h2>
      <div class="jumbotron" ng-if="ctrl.selectedOrg == -1" style="background-color: transparent; text-align: center; padding-top:24px;">
        <h2>Select an Organization</h2>
        <p class="lead">To see an organization's incident history, select an organization
          from the list on the left.  The incident history will appear on this page.  To edit the details of
          an incident, click the Edit link at the end of the relevant incident row.
        </p>
      </div>
      <div class="table-responsive" ng-style="ctrl.truncateStyle" ng-if="ctrl.selectedOrg != -1">
        <%= render 'incident_history', query_type: 1 %>
      </div>
    </div>
  </div>
</div>

</body>