<table class="table table-striped" id="plcmtTable">
  <thead>
  <tr>
    <% if query_type == 0 or query_type == 2 %>
    <th>
      Organization Name
    </th>
    <% end %>
    <% if query_type == 1 or query_type == 2 %>
    <th>Student Name</th>
    <% end %>
    <% if (query_type != 2) %>
    <th>Contact Name</th>
    <% end %>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Paid?</th>
    <th>Work Day</th>
    <th>Class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody class="allowrowclick">
  <tr ng-repeat="student_placement in ctrl.studentPlacements| orderBy:ctrl.sortType:ctrl.sortReverse "
      ng-class="{'selected':$index == ctrl.selectedRow, subrow: ctrl.isStudentsPage && ctrl.studentPlacements[$index - 1].organization_name == student_placement.organization_name && ctrl.studentPlacements[$index - 1].student_gradelevel == student_placement.student_gradelevel}"

      ng-click="ctrl.showOrganizationDetails($index, student_placement.id)" id="{{student_placement.id}}">
    <% if query_type == 0 or query_type == 2 %>
      <td ng-class="{subrowcell: ctrl.isStudentsPage && ctrl.studentPlacements[$index - 1].organization_name == student_placement.organization_name && ctrl.studentPlacements[$index - 1].student_gradelevel == student_placement.student_gradelevel}">
        {{ student_placement.organization_name }}</td>
    <% end %>
    <% if query_type == 1 or query_type == 2 %>
      <td>{{ student_placement.student_name }}</td>
    <% end %>
    <% if (query_type != 2) %>
      <td ng-class="{subrowcell: ctrl.isStudentsPage && ctrl.studentPlacements[$index - 1].organization_name == student_placement.organization_name && ctrl.studentPlacements[$index - 1].student_gradelevel == student_placement.student_gradelevel}">
        <a ng-click="$event.stopPropagation();" title="Change supervisor and preserve history" ng-if="ctrl.isStudentsPage && $index == 0" href="/placements/{{student_placement.id}}/edit_contact"><img src="<%=image_path("edit.png")%>" width="18" height="18"></a>
        {{ student_placement.contact_name }}</td>
    <% end %>
    <td>{{ student_placement.start_date | date:'dd-MMM-yyyy' }}</td>
    <td>{{ student_placement.end_date | date:'dd-MMM-yyyy' }}</td>
    <td>{{ student_placement.paid }}</td>
    <td>{{ student_placement.work_day }}</td>
    <td>{{ student_placement.student_gradelevel }}</td>
    <td><a ng-click="$event.stopPropagation();" href="/placements/{{student_placement.id}}/edit" target="_self"
           ng-class="{'white-link': ctrl.selectedRow != null}">Edit</a></td>
    <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" ng-class="{'white-link': ctrl.selectedRow != null}"
           href="/placements/{{student_placement.id}}">Delete</a></td>
    <td style="text-align:right; padding-left:0;padding-right:0;" ng-click="$event.stopPropagation();">
      <img ng-src="{{student_placement.plusminus}}" width="18" height="18" ng-click="ctrl.addNotesRow($index);">
    </td>
  </tr>
  </tbody>
</table>
