<body ng-app="app" ng-controller="PlacementController as ctrl">
<%= render "shared/navbar", input_name: "ctrl.searchInput" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" style="padding-top:0px">
      <ul class="nav nav-sidebar">
        <li>
          <div style="font-weight: bold; font-size: 12pt; padding-top:5px; padding-bottom:10px; padding-left:20px; background-color: lightgrey">
            Students
          </div>
        </li>
        <li ng-repeat="student in ctrl.students | filter:ctrl.searchInput" ng-class="{'active':$index == ctrl.selectedStudent}"
            ng-click="ctrl.setClickedStudent($index, student.id)">
          <a href="#">{{student.full_name}}</a>

        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= render "shared/alert_msg" %>
      <h2 class="sub-header">Placement History
        <div class="pull-right">
          <a class="btn btn-primary ng-scope" target="_self" ng-if="ctrl.selectedStudent != -1"
             href="/placements/add?student_id={{ctrl.studentId}}">New</a>
          <a class="btn btn-primary" target="_self" ng-if="ctrl.selectedStudent != -1"
             href="/placements/export?student_id={{ctrl.studentId}}">Export</a>
        </div>
      </h2>
      <div class="jumbotron" ng-if="ctrl.selectedStudent == -1" style="background-color: transparent; text-align: center; padding-top:24px;">
        <h2>Select a Student</h2>
        <p class="lead">To see a student's work history, select the student from the list on the left.  The work history
          will appear at the top of the page.  To see details about the student's employer, click on the work history
          record.
        </p>
      </div>
      <div class="table-responsive" ng-style="ctrl.truncateStyle" ng-if="ctrl.selectedStudent != -1">
        <%= render 'work_history', query_type: 0 %>
      </div>
      <%= render 'work_details' %>
    </div>
  </div>
</div>

</body>