<table class="table table-striped">
  <thead>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <% if (is_student) %>
      <th>Organization Name</th>
    <% else %>
      <th>Student Name</th>
    <% end %>
    <th>Paid/Unpaid</th>
    <th>Work Day</th>
    <th>Student Class</th>
    <th>Contact</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="student_placement in ctrl.studentPlacements | filter:ctrl.searchInput"

      ng-class="{'selected':$index == ctrl.selectedRow}"

      ng-click="ctrl.showOrganizationDetails($index, student_placement.id)" id="{{student_placement.id}}">
    <td>{{ student_placement.start_date }}</td>
    <td>{{ student_placement.end_date }}</td>
    <% if (is_student) %>
      <td>{{ student_placement.organization_name }}</td>
    <% else %>
      <td>{{ student_placement.student_name }}</td>
    <% end %>
    <td>{{ student_placement.paid }}</td>
    <td>{{ student_placement.work_day }}</td>
    <td>{{ student_placement.student_gradelevel }}</td>
    <td>{{ student_placement.contact_name }}</td>
    <td><a href="/placements/{{student_placement.id}}/edit" target="_self"
           ng-class="{'white-link': ctrl.selectedRow != null}">Edit</a></td>
    <td ng-click="$event.stopPropagation();"><img ng-src="<%=image_path("trash.png")%>" width="18" height="18"
                                                  ng-really-message="Are you sure you want to delete this placement?"
                                                  ng-really-click="ctrl.deletePlacement($index, student_placement.id);" class="delete_object"></td>
  </tr>
  </tbody>
</table>
