<div class="modal-header">
    <a href="#" class="close" data-ng-click="modalOptions.close()">x</a>
    <h4 class="modal-title">{{modalOptions.headerText}}</h4>
</div>
<div style="margin: 10px;">
    <span>{{modalOptions.bodyText}}</span>
</div>
<form ng-submit="modalOptions.submit()" name="dateFrm">
    <div class="modal-body">
        <div id="datepicker"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        <button type="submit" class="btn btn-primary" data-ng-click="modalOptions.ok()">{{modalOptions.actionButtonText}}</button>
    </div>
</form>
<ng-double-date model="modalOptions.dateArray"></ng-double-date>
